spring:
  application:
    name: apiGateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: ${USER_SERVICE_URL:http://user-service:8080}
          predicates:
            - Path=/users/**
        - id: service-registry-service
          uri: ${SERVICE_REGISTRY_URL:http://service-registry-service:8080}
          predicates:

            - Path=/registry/**
        - id: chat-history-service
          uri: ${CHAT_HISTORY_SERVICE_URL:http://chat-history-service:8080}
          predicates:
            - Path=/history/**
        - id: message-service
          uri: ${MESSAGE_SERVICE_URL:http://message-service:8080}
          predicates:
            - Path=/messages/**
        - id: messaging-service
          uri: ${MESSAGING_SERVICE_URL:ws://messaging-service:8080}
          predicates:
            - Path=/ws/**

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: api-gateway
        url: /v3/api-docs
      - name: user-service
        url: /users/v3/api-docs
      - name: service-registry-service
        url: /registry/v3/api-docs
      - name: chat-history-service
        url: /history/v3/api-docs
      - name: message-service
        url: /message/v3/api-docs
